.explain {
    background-color: #F5A700;
    border-radius: 10px;
    width: 100%;
    display: block;
    font-size: 2rem;
    font-family: $font-default;
    padding-left: 20px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    
}