.why {
    font-size: $font-size-default;
    font-family: $font-default;
    margin-top: 4rem;
    padding: 10px;
    background-color: rgba($color: #656565, $alpha: .5);
    border-radius: 10px;

    &__title {
        text-align: center;
        font-size: 4rem;
        padding-bottom: 1rem;
        font-weight: bold;

    }
}